
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
    <label ng-show="users.errorGetUsers">An error ocurred retrieving data.Please try later.</label>
    <div ng-show="!users.errorGetUsers">
      <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2"><button type="button" class="btn btn-default" ng-click="users.Open()">Add User</button></div>
      </div>

      <table class="table table-hover">
        <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        </thead>
        <tr ng-repeat="user in users.usersList">
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
